@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');/*700 nav h3*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');/*600 nav a*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');/*800 h1*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');/*500 div-p*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-image: url(./image/background-img.png);
    background-size: cover;
}
.big-comrainer{
    margin-left: 160px;
    margin-right: 160px;
}
.section-1{
    padding-top: 30px;
}
.section-1-nav-div-1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.section-1-nav-div-2{
    position: absolute;
    right:  30px;
    top: 45px;
}
.section-1-nav-div-1-h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    margin: 0;
}
.section-1-nav-div-1 a{
    color: #737373;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    padding: 4px 5px;
}
.section-1-nav-div-1 ul {
    margin: 0;
    padding-left: 0;
}
.section-1-nav-div-1 li{
    list-style-type: none;
}
.section-1-div-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    line-height: 80px;
    color: #252B42;
    width: 50%;
}
.section-1-div-p{
    width: 376px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
    margin-top: 35px;
    margin-bottom: 35px;
}
.button-1{
    background: #FF7B47;
    padding: 10px 36px;
    border: 1px solid #FF7B47;
    border-radius: 37px;
    margin: 10px 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
}
.button-2{
    background: transparent;
    padding: 10px 36px;
    border: 1px solid #0D5C63;
    border-radius: 37px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #0D5C63;
    margin: 0 10px;
}