*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-image: url(./image/background-img.png);
    background-size: cover;
}
.big-comrainer{
    margin-left: 160px;
    margin-right: 160px;
}
.section-1{
    margin-top: 30px;
}