*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-image: url(./image/background-img.png);
    background-size: cover;
}
.big-comrainer{
    margin-left: 160px;
    margin-right: 160px;
}
.section-1{
    padding-top: 30px;
}
.section-1-nav-div-1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.section-1-nav-div-2{
    position: absolute;
    right:  30px;
    top: 45px;
}